ROOT/
manager/
host-manager/
examples/
docs/
/jsp_pages/nbproject/private/
/jsp_pages/build/
/MyJSP/nbproject/private/
/MyJSP/build/
/MyJSP/dist/
/WebApplication1/nbproject/private/
/WebApplication1/build/