ROOT/
manager/
host-manager/
examples/
docs/
/jsp_pages/nbproject/private/
/jsp_pages/build/
/MyJSP/nbproject/private/
/MyJSP/build/
/MyJSP/dist/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/MySERVLET/nbproject/private/
/MySERVLET/build/
/MySERVLET/dist/
/declarative-BASIC-auth/nbproject/private/
/declarative-FORM-auth/nbproject/private/
/declarative-BASIC-auth/build/
/declarative-FORM-auth/build/
/declarative-FORM-auth/dist/
/MyDB/nbproject/private/
/MyDB/build/