<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>accesso ristretto</display-name>
        <web-resource-collection>
            <web-resource-name>pagina-protetta</web-resource-name>
            <description>Risorsa protetta</description>
            <url-pattern>/FORM/pagina-protetta.jsp</url-pattern> <!-- semplice risorsa protetta. -->
            <url-pattern>/FORM/directory-protetta/*</url-pattern> <!-- Un'intera directory protetta. -->
        </web-resource-collection>
        <auth-constraint>
            <!-- necessario! chiunque con il ruolo specificato può accedere a queste risorse -->
            <description>Necessaria autenticazione...</description>
            <role-name>user</role-name>
            <!-- <role-name>admin</role-name> è possibile aggiungere anche più ruoli... -->
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/FORM/login.jsp</form-login-page>
            <form-error-page>/FORM/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Ruolo utente. In glassfish associato al gruppo users.</description>
        <role-name>user</role-name>
    </security-role>
</web-app>
