<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>doLogin</servlet-name>
        <servlet-class>utility.doLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>operazioniSulCarrello</servlet-name>
        <servlet-class>utility.operazioniSulCarrello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inoltraOrdine</servlet-name>
        <servlet-class>utility.inoltraOrdine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doLogin</servlet-name>
        <url-pattern>/doLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>operazioniSulCarrello</servlet-name>
        <url-pattern>/operazioniSulCarrello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inoltraOrdine</servlet-name>
        <url-pattern>/inoltraOrdine</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
