<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!-- Non dimenticare di ricaricare l'applicazione (dal manager di Tomcat) dopo ogni modifica a questo file. -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

  
  <display-name>Servlet Di Saluto</display-name>
    <description>
      Un'applicazione dove facciamo esempi di servlet
    </description>


	<context-param><!-- I parametri di contesto sono visibili all'intera web-app. Si specificano dentro i tag web-app -->
		<param-name>email_rocco</param-name>
        <param-value>rocco@hackerstribe.com</param-value>
	</context-param>

    <!-- Define servlets that are included in the example application -->

	
	<servlet>
		<servlet-name>Paperino</servlet-name>
		<description>Servlet che gestisce le richieste GET</description>
		<servlet-class>servletSaluto.ServletDiSaluto</servlet-class> <!-- servlet. indica la cartella, formato: cartella.classe -->
		
		<init-param> <!-- I parametri di servlet sono definiti e visibili all'interno di una servlet, quindi non dalle altre servlet della stessa web-app -->
			<param-name>parametro_saluto</param-name>
			<param-value>Esempio di Servlet GET e parametri da file web.xml</param-value>
        </init-param>
		
	</servlet>
	
    <servlet-mapping>
        <servlet-name>Paperino</servlet-name>
        <url-pattern>/AliasServletDiSaluto</url-pattern>
    </servlet-mapping>


	<servlet>
		<servlet-name>Pluto</servlet-name>
		<description>Servlet che gestisce dati passati in POST</description>
		<servlet-class>servletPOST.ServletPOST</servlet-class> <!-- servlet. indica la cartella, formato: cartella.classe -->
	</servlet>
	
    <servlet-mapping>
        <servlet-name>Pluto</servlet-name>
        <url-pattern>/AliasServletPOST</url-pattern>
    </servlet-mapping>


	<servlet>
		<servlet-name>RedirectServ</servlet-name>
		<description>Servlet di Redirect</description>
		<servlet-class>servletREDIR.ServletREDIRECT</servlet-class> <!-- servlet. indica la cartella, formato: cartella.classe -->
	</servlet>
	
    <servlet-mapping>
        <servlet-name>RedirectServ</servlet-name>
        <url-pattern>/AliasServletRedirect</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
		<servlet-name>LoginServlet</servlet-name>
		<description>Servlet d'esempio per i Cookie</description>
		<servlet-class>servletCookie.ServletCookie</servlet-class> <!-- servlet. indica la cartella, formato: cartella.classe -->
	</servlet>
	
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/AliasServletLogin</url-pattern>
    </servlet-mapping>
    

    <servlet>
		<servlet-name>EncodingServlet</servlet-name>
		<description>Servlet d'esempio per i Cookie</description>
		<servlet-class>servletUrlEncode.ServletEncode</servlet-class> <!-- servlet. indica la cartella, formato: cartella.classe -->
	</servlet>
	
    <servlet-mapping>
        <servlet-name>EncodingServlet</servlet-name>
        <url-pattern>/AliasServletEncoding</url-pattern>
    </servlet-mapping>
    
	
    <servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<description>Servlet d'esempio per il RequestDispatcher</description>
		<servlet-class>servletDispatcher.ServletDispatcher</servlet-class> <!-- servlet. indica la cartella, formato: cartella.classe -->
	</servlet>
	
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/AliasServletDispatcher</url-pattern>
    </servlet-mapping>
    


  
</web-app>
