<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!-- Non dimenticare di ricaricare l'applicazione (dal manager di Tomcat) dopo ogni modifica a questo file. -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

  
  <display-name>Servlet esempi Pro</display-name>
    <description>
      Esempi servlet del prof
    </description>


    <!-- Define servlets that are included in the example application -->

	
	<!-- SERVLET ESEMPI DEL PROF:  -->
	
	  <servlet>
    <servlet-name>test_cookies</servlet-name>
    <description>
      Una servlet che capisce se i cookie sono abilitati o no
    </description>
    <servlet-class>profSessionCookie.TestCookies</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>test_cookies_session</servlet-name>
    <description>
      Una servlet che capisce se i cookie sono abilitati o no usando le session
    </description>
    <servlet-class>profSessionCookie.TestCookiesSession</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>e_commerce</servlet-name>
    <description>
      Una servlet che implementa un mini-sito di e-commerce
    </description>
    <servlet-class>profSessionCookie.eCommerce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>e_commerce</servlet-name>
    <url-pattern>/e_commerce.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>test_cookies</servlet-name>
    <url-pattern>/test_cookies.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>test_cookies_session</servlet-name>
    <url-pattern>/test_cookies_session.html</url-pattern>
  </servlet-mapping>
  
  <!-- / FINE SERVLET ESEMPI DEL PROF -->
  
</web-app>
